.comments-list {
  display: flex;
  flex-direction: column;
  flex-flow: column;
  padding: 0.2rem 0.7rem;
}
.comments-more {
  padding: 0 0.7rem;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 500;
}
.comments-more:hover {
  text-decoration: underline;
}
