.ranking {
  display: flex;
  flex-flow: column;
  width: 40%;
  margin-top: 1rem;
  max-width: 300px;
  height: min-content;
  box-shadow: var(--box-shadow2);
  border-radius: 7px;
  overflow: hidden;
  animation: materialize 0.4s ease-in-out;
  background-color: white;
}
.ranking__header {
  padding: 1rem 1rem .5rem 1rem;
  font-weight: 500;
  font-size: 1.05rem;
  color: var(--morning-blue7);
}
@media (max-width: 850px) {
  .ranking {
    display: none;
  }
}
@keyframes materialize {
  0% {
    opacity: 0;
    transform: translateX(4rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
