.options {
  display: flex;
  flex-flow: column;
}
.options li {
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 0.5em 4rem 0.5rem 1rem;
  gap: 0.5rem;
  cursor: pointer;
}
.options li span {
  color: var(--independence5);
  color: var(--morning-blue7);
}
.options li:hover,
.options li:hover span {
  background-color: var(--powder-blue1);
}
