.floating-menu {
  position: absolute;
  right: 0;
  top: 2.5rem;
  border-radius: 5px;
  overflow: hidden;
  background-color: white;
  box-shadow: var(--box-shadow1);
  animation: materialize 0.1s ease-in-out;
}
.floating-menu.disabled {
  display: none;
}
@keyframes materialize {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
